name: build-push-frontend
on:
  push:
    branches: [ staging ]
    paths-ignore: [ "**.md", "docs/**", ".gitignore" ]
  workflow_dispatch:

jobs:
  build-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - id: meta
        uses: docker/metadata-action@v5
        with:
          images: ctrldaviddee/annuaire_did
          tags: |
            type=raw,value=staging-latest
            type=sha

      - uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}

      - name: Wait for image to be available
        run: sleep 15

      # Trivy image scan (dependency/vuln monitoring)
      - name: Run scan image with Trivy
        uses: aquasecurity/trivy-action@0.24.0
        with:
          image-ref: ctrldaviddee/annuaire_did:staging-latest
          format: table
          exit-code: '0'
          ignore-unfixed: true
