name: deploy-staging-frontend
on:
  workflow_run:
    workflows: [ "build-push-frontend" ]
    types: [ completed ]

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' && github.event.workflow_run.head_branch == 'staging' }}
    runs-on: ubuntu-latest
    steps:
      - name: free disk space
        run: docker system prune -af
      - name: SSH deploy
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          password: ${{ secrets.VPS_PASSWORD }}
          script: |
            set -euo pipefail
            
            cd ${{ secrets.VPS_PATH }}/docker/staging
            
            echo "➡️  Création du réseau Docker 'annuaire_staging_net'"
            docker network create annuaire_staging_net 2>/dev/null || true
            
            echo "➡️ Pulling latest image"
            docker compose -f compose.yml pull
            
            echo "➡️ Stopping current stack"
            docker compose -f compose.yml down || true
            
            echo "➡️ Starting new stack"
            docker compose -f compose.yml up -d --remove-orphans
